* {
    margin: 0;
    padding: 0;
}
.apresentacao {
display:flex;
align-items: center;
}
body {
    background: #8ec3d0;
}
h1 {    
    color: #e8c3d0;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
p { 
    color: #690044;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}span {
    color: red;
    background: yellow;
}
footer {
    color: gray;
}
.teste {
    color: #693044;
    background-color: #E8E5C4;
}

.nome {
    color: #000000;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}